.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .flexcontainer{
   
        display: flex;
        background-color: #edede8e0;
        border-radius: 3em;
        margin:10px
        /* background-color: DodgerBlue; */
  }
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
 
  }
  .email {
    padding: 0px 10px 0px 15px;
}
i.fa.fa-angle-down {
    font-size: 25pt;
    vertical-align: middle;
}
i.fa.fa-angle-up {
    font-size: 25pt;
    vertical-align: middle;
}
.addcomment {
  display: grid;
  grid-template-columns: 85% auto;
  column-gap: 5%;
}
button.postcomment {
  border-radius: 1em;
}

input.newcommentinput{
  border-radius:1em;
  padding-left: 2%;
}
.col-md-12 {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding-bottom: 2%;
  padding-top:2%;
  margin-bottom: 5%;
}
